.jobs-container {
  padding: 10px 2vw;
  max-width: 95vw;
  margin: 10px auto;
}

.inputs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 5vh;
  column-gap: 1vw;
}

.inputs > div {
  display: flex;
  flex-direction: column;
  align-content: center;
  position: relative;
}

.inputs .checkboxes-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.inputs .checkboxes {
  display: flex;
  height: 80%;
  flex-direction: column;
  justify-content: space-between;
}

.inputs .checkboxes .checkbox {
  display: flex;
  gap: 5%;
  white-space: nowrap;
}

.inputs .checkboxes-container .reset-btn {
  padding: 8px 16px;
  background-color: rgb(2, 6, 23);
  color: white;
  font-family: Noto Sans, sans-serif;
  border-radius: 8px;
  transition: 0.3s ease;
}

.inputs .checkboxes-container .reset-btn:hover {
  background-color: rgba(2, 6, 23, 0.9);
}

.dark-mode .inputs .checkboxes-container .reset-btn {
  background-color: #fbfbfb;
  color: rgb(2, 6, 23);
}

.dark-mode .inputs .checkboxes-container .reset-btn:hover {
  background-color: #fbfbfbda;
}

.jobs {
  display: grid;
  gap: 1rem;
  margin-top: 50px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

/* HTML: <div class="loader"></div> */
.loading-jobs {
  display: inline-grid;
  width: 80px;
  aspect-ratio: 2;
  box-sizing: content-box;
  border-bottom: 8px solid #0000;
  background: linear-gradient(90deg, #0b486b 50%, #c02942 0) 50% 100%/52% 8px
    border-box repeat-x;
  animation: l8-0 1s linear infinite;
}
.loading-jobs:before {
  content: "";
  margin: 0 25%;
  border-radius: 50%;
  background: repeating-conic-gradient(#c02942 0 60deg, #0b486b 0 120deg);
  animation: l8-1 1s linear infinite;
}
@keyframes l8-0 {
  to {
    background-position: -58% 100%;
  }
}
@keyframes l8-1 {
  to {
    rotate: 120deg;
  }
}
